/* global*/
html {
    font-size: 62.5%; /* 1rem = 10px*/
    box-sizing: border-box;
}
li {
    list-style: none;
}
p {
    font-size: 1.6rem;
}
a {
    text-decoration: none;
}

/*index*/

/*header*/
header {
    position: fixed;
    height: 7rem;
    width: 100%;
    background-color: rgba(136, 133, 133, 0.219);
    border: 0.1rem solid #bcb9bdd7;
    border-bottom-left-radius: 1.5rem;
    border-bottom-right-radius: 1.5rem;
}
header h1 {
    margin: 0;
}
nav {
    display: flex;
    justify-content: space-around;
    padding-top: 2rem;
}   
.input-buscador, select{
    border: none;
}
.buscador {
    display: flex;
    border: 0.1rem solid #dfe1e5;
    border-radius: 2.4rem;
    height: 2rem;
    background-color: white;
}
select {
    border-radius: 2.4rem;
}

.hero {
    height: 100vh;
    background-image: url(../img/hero2.png);
    background-repeat: no-repeat;
    background-size: 100%;
}
/*main*/

.contenedor-main {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.barra-categorias {
    display: flex;
    justify-content: center;
    gap: 5rem;
}
.libros-main{
    width: 80rem;
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(2, 1fr);
}
.libros-main img {
    height: 20rem;
    padding-top: 5rem;
    justify-self: center;
}
.contenedor-link{
    width: 70%;
    padding-top: 3rem;
    display: flex;
    justify-content: end;
}

/*banner*/
.banner {
    background-image: url(../img/banner/background.webp);
    background-size: cover;
    background-position: center;
    height: 40rem;
    margin-top: 5rem;
    color: #ffffff;
}
.banner a:visited {
    color: #ffffff;
}
.contenedor-banner {
    height: 90%;
    padding: 0 5rem;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.info-banner {
    width: 30rem;
}
.info-banner h2 {
    font-size: 4rem;
}
.img-banner {
    display: flex;
    gap: 3rem;
}
.img-banner img {
    height: 20rem;
    width: 12rem;
    object-fit: cover;
    justify-self: center;
}
.contenedor-link-banner {
    width: 85%;
    margin-top: -5rem;
    display: flex;
    justify-content: end;
}

/*form*/

.suscripcion {
    height: 65rem;
    color: #ffffff;
    background-image: url(../img/form2.jpeg);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center center;
    display: flex;
    flex-direction: column;
    align-items: end;
    justify-content: center;
}
.contenedor-formulario {
    padding-right: 20rem;
}
.descripcion-formulario  {
    width: 30rem;
}
.descripcion-formulario h2 {
    font-size: 5rem;
    text-transform: uppercase;
    color: #f47879;
}
.descripcion-formulario p {
    font-size: 2.5rem;
}

.contenedor-input-formulario {
    width: 70%;
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    background-color: #ffffff;
    border: 0.1rem solid #dfe1e5;
    border-radius: 2.4rem;
    height: 3rem;
}
.contenedor-input-formulario input {
    background-color: #ffffff;
    border: none;
    border-radius: 2.4rem;
    height: 3rem;
}
.contenedor-input-formulario input:nth-child(1) {
    width: 85%;
}

/*footer*/

footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 20rem;
}
.contenedor-footer-1 {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    font-size: 1.6rem;
    padding-top: 5rem;
}
